<footer class="w-full bg-[#121212] text-white">
  <div class="mx-auto max-w-[1280px] px-6 py-16">
    <div class="flex flex-col lg:flex-row lg:items-start lg:gap-12 xl:gap-20">
      <div class="max-w-xl lg:w-2/5 xl:w-[40%]">
        <h3 class="text-3xl tracking-tight text-white">
          <span class="font-normal">le bon</span><span class="font-bold">modèle</span>
        </h3>
        <p class="mt-6 text-sm leading-7 text-white/70">
        Bien acheter, c’est être bien conseillé. Avec Le Bon Modèle, deux experts
        indépendants vous accompagnent, pas à pas, pour choisir la voiture la plus
        adaptée à votre quotidien et à votre budget.
        </p>
      </div>

      <div class="mt-12 hidden text-[#121212] lg:block lg:w-2/5 xl:w-[35%]">
        Bien acheter, c’est être bien conseillé. Avec Le Bon Modèle, deux experts
        indépendants vous accompagnent, pas à pas, pour choisir la voiture la plus
        adaptée à votre quotidien et à votre budget.
      </div>

      <div class="mt-12 flex flex-wrap gap-x-8 gap-y-10 sm:flex-nowrap lg:mt-0 lg:w-1/5 lg:gap-x-4 xl:w-[25%]">
        <div class="lg:flex lg:justify-end">
          <%= link_to "Qui sommes nous ?", about_path, class: "block text-lg font-semibold text-white transition hover:text-white/80 lg:whitespace-nowrap" %>
        </div>
        <div class="lg:flex lg:justify-end">
          <%= link_to "Questions Fréquentes", faq_path, class: "block text-lg font-semibold text-white transition hover:text-white/80 lg:whitespace-nowrap" %>
        </div>
        <div class="lg:flex lg:justify-end">
          <%= link_to "Starter Pack", starter_pack_path, class: "block text-lg font-semibold text-white transition hover:text-white/80 lg:whitespace-nowrap" %>
        </div>
        <div class="lg:flex lg:justify-end">
          <%= link_to "Pack Premium", pack_premium_path, class: "block text-lg font-semibold text-white transition hover:text-white/80 lg:whitespace-nowrap" %>
        </div>
        <div class="lg:flex lg:justify-end">
          <%= link_to "Nous Contacter", contact_path, class: "block text-lg font-semibold text-white transition hover:text-white/80 lg:whitespace-nowrap" %>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-white/10 py-3">
    <div class="mx-auto flex max-w-[1280px] flex-col gap-6 px-6 py-3 text-xs text-white/60 lg:flex-row lg:items-center lg:justify-between">
      <div class="flex flex-wrap gap-x-6 gap-y-3">
        <a href="#" class="px-2 transition hover:text-white">Politique de confidentialité</a>
        <a href="#" class="px-2 transition hover:text-white">Informations règlementaires</a>
        <a href="#" class="px-2 transition hover:text-white">Mentions légales</a>
        <a href="#" class="px-2 transition hover:text-white">Conditions générales d'utilisation</a>
      </div>
      <div class="whitespace-nowrap lg:text-right">© 2026 — Tous droits réservés</div>
    </div>
  </div>
</footer>
